ion-content {
  background: linear-gradient(to bottom,#274046, #E6DADA)
}
h1 {
font-family: Rockwell;
color: #ffffff;
text-align: center;
}
p {
font-family: Rockwell;
color: #ffffff;
text-align: justify;
}